spell-database/.DS_Store
character-sheets/.DS_Store
spell-database/data/.DS_Store
spell-database/spells.db
character-specific/Krag/.DS_Store
character-specific/Krag/weapons/.DS_Store
.DS_Store
*.pyc
*.csv#