html, body, h1, form, fieldset, legend, ol, li {
  margin: 0;
  padding: 0;
}
body {
  background-image: url('../content/starring.png');
  background-repeat:repeat;
  color: #111111;
}

#correction-form {
  margin-top: 20px;
  background: #003D99;
  background: rgba(0,61,153,.7);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  width: 500px;
}

#correction-form ol li {
  background-image: none;
  background: #b9cf6a;
  background: rgba(255,255,255,.3);
  border-color: #e3ebc3;
  border-color: rgba(255,255,255,.6);
  border-style: solid;
  border-width: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 30px;
  list-style: none;
  padding: 5px 10px;
  margin-bottom: 2px;
}

#correction-form label {
  float: left;
  font-size: 13px;
  width: 110px;
}

#correction-form input:not([type=radio]),
#correction-form textarea {
  background: #ffffff;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  font: italic 13px Georgia, "Times New Roman", Times, serif;
  outline: none;
  padding: 5px;
  width: 320px;
}
#correction-form input:not([type=submit]):focus,
#correction-form textarea:focus {
  background: #eaeaea;
}
#correction-form input[type=radio] {
  margin-right: 5px;
  font-size: 13px;
}


#correction-form button {
  background: #00007A;
  border: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  display: block;
  font: 18px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  margin: auto;
  padding: 7px 25px;
  text-shadow: 0 1px 1px #000000;
  text-transform: uppercase;
}
#correction-form button:hover {
  background: #000049;
  cursor: pointer;
}